<?xml version='1.0' encoding='utf-8'?>
<widget id="br.edu.ifes.remoteifes" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RemoteIFES</name>
    <description>Controle remoto de ar-condicionado das salas do IFES</description>
    <author email="dev@ifes.edu.br" href="https://ifes.edu.br">IFES</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <preference name="Orientation" value="default" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="BackgroundColor" value="0xfff4f6f4" />
    <preference name="SplashScreenBackgroundColor" value="#f4f6f4" />
    <icon src="resources/icon.png" />
    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <preference name="android-minSdkVersion" value="24" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/icon.png" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <icon src="resources/icon.png" />
    </platform>
    <platform name="ios">
        <edit-config file="*-Info.plist" mode="merge" target="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsLocalNetworking</key>
                <true />
            </dict>
        </edit-config>
        <preference name="deployment-target" value="13.0" />
        <icon src="resources/icon.png" />
        <splash src="resources/splash.png" />
    </platform>
</widget>
